<div class='addContact'>
    <h2>Add contact</h2>
    <form name="addContactForm" novalidate>
        <div class="form-group inputAddContact"
             ng-class="{ 'has-error' : groupNameIsValid(addContactForm.addName,addItem.name)}">
            <label for="addName">Name:</label>
            <input type='text'
                   name="addName"
                   id="addName"
                   class="form-control"
                   ng-model='addItem.name'
                   required/>
            <p ng-show="inputIsValid(addContactForm.addName)"
               class="help-block">
                Name is invalid.
            </p>
            <p ng-show="nameIsValid(addItem.name)"
               class="help-block">
                This name is already used.
            </p>
        </div>
        <div class="form-group inputAddContact"
             ng-class="{ 'has-error' : inputIsValid(addContactForm.addPhone)}">
            <label for="addPhone">Phone:</label>
            <input type='text'
                   name="addPhone"
                   id="addPhone"
                   class="form-control"
                   ng-model='addItem.phone'
                   required/>
            <p ng-show="inputIsValid(addContactForm.addPhone)"
               class="help-block">
                Phone is required.
            </p>
        </div>
        <div class="form-group inputAddContact"
             ng-class="{ 'has-error' : inputIsValid(addContactForm.addEmail)}">
            <label for="addEmail">Email:</label>
            <input type='email'
                   name="addEmail"
                   id="addEmail"
                   class="form-control"
                   ng-model='addItem.email'
                   required/>
            <p ng-show="inputIsValid(addContactForm.addEmail)"
               class="help-block">
                Email is invalid.
            </p>
        </div>
        <div class="row editFormBtnGroup">
            <button type="button"
                    ng-click= "addContact(addItem.name, addItem.phone, addItem.email)"
                    class="btn btn-success col-md-2"
                    ng-disabled = "addFormValid(addItem.name, addItem.phone, addItem.email)">
                    Add
            </button>
            <button type="button"
                    ng-click= "goHome()"
                    class="btn btn-default col-md-offset-8 col-md-2">
                    Cancel
            </button>
        </div>
    </form>
</div>
