.red{
    color: red;
}

.blue{
    color: blue;
}

.searchInput{
    margin-bottom: 10px;
}
.addNewContact{
    margin-bottom: 40px;
}
.inputAddContact, .inputEditContact{
    margin: 30px 10px;
    position: relative;
}
.help-block{
    position: absolute;
    top: 20;
    left: 0;
    color: red;
}
.add-serch{
    margin: 30px 0;
}
.editFormBtnGroup{
    margin: 40px 10px;
}
.contactsHeader{
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}
.contactsHeader-col{
    font-weight: bold;
    font-size: 20px;
}
.contact-list-item{
    margin-bottom: 15px;
}
